.button {
  font: inherit;
  border: 1px solid rgb(0, 187, 211);
  border-radius: 8px;
  background: rgb(0, 187, 211);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #e0d8e2;
  border-color: #d0c3d3;
}

.button:focus {
  outline: none;
}
