.users {
  margin: auto;
  width: 90%;
  max-width: 40rem;
  margin-bottom: 10px;
}
.profile {
  display: flex;
}
.list {
  display: flex;
  flex-direction: column;
  border: 2px solid #4f005f;
  border-radius: 10px;
  margin-bottom: 5px;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  max-width: 25rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
span {
  color: #741188;
  font-weight: bold;
}
img {
  width: 35px;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 50%;
  border: 1px solid #b757ca;
}
